form {
  background-color: #f2f2f2;
  border: 1px solid #dededee0;
  border-radius: 10px;
  margin-top: 30px;
  text-align: justify;
  padding: 15px;
}

input {
  border-radius: 5px;
  border: 1px solid #dededee0;
  margin-bottom: 15px;
}

#movie-cont {
  background-color: #f2f2f2;
  border: 1px solid #dededee0;
  margin: 30px;
  padding: 20px;
}

.search-movie {
  display: flex;
}

.search-movie__img {
  margin-right: 20px;
}
